{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}


{% endblock %}

{% block descripcion %}

<br>

Me enorgullezco de trabajar de lo que me gusta, del tiempo que me tomo para entender las necesidades únicas de cada tarea, mi capacidad para resolver problemas sobre la marcha,
y la diversión que me da trabajar comunicando. 
<br>
He tenido la suerte de trabajar con importantes clientes más que nada del ámbito del deporte, y poder viajar y conocer el mundo gracias a mi trabajo.
<br>
Cuando no estoy en una isla de post producción, también realizo y dirijo piezas audiovisuales para diferentes clientes y formatos.
<br>
Estudié Cine y Televisión en la Universidad de Córdoba, me especialice en la post producción integral, en el montaje cinematográfico y Motion Graphics. 
Luego fui incorporando habilidades de Planning para las nuevas estrategias de comunicación, y ahora mi objetivo es especializarme en la interactividad a través de lenguajes de Programación.
<br>
En los años transcurridos he dividido mi tiempo entre piezas de Publicidad, Promocionales, Tv, Museos Deportivos con formatos no tradicionales y espero seguir aprendiendo y desarrollando mi creatividad.




{% endblock %}