{% extends "AppCoder/padre.html" %}

{% load static %}


{% block descripcion %}
Bienvenidos a la Comunidad de Trabajo.
<br>
<br>

{% for comunidad in object_list %} 

<p>Nombre: {{comunidad.nombre}} </p>
<p>Apellido: {{comunidad.apellido}} </p>

        
<a href="{% url 'ComunidadDetalle' comunidad.id %}"> Ver Post </a>
<a href="{% url 'ComunidadEditar' comunidad.id %}"> Editar Post </a>
<a href="{% url 'ComunidadBorrar' comunidad.id %}"> Eliminar Post </a>

<br>

<button><a href="{% url 'ComunidadCrear' %}"> Crear Post </a></button>
<br>
<br>

{% endfor %}
{% endblock %}

{% block Trabajos %}
{% endblock %}

{% block datos  %}
{% endblock %}











