<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

       
    {% for contacto in personas %} 

    <p>Nombre: {{contacto.nombre}}</p>
    <p>Apellido: {{contacto.apellido}}</p>
    <p>Email: {{contacto.correo}}</p>
    

    <button>

        <a href="{% url 'ContactosEditar' contacto.nombre %}"> Editar </a>

    </button>
    <button>

        <a href="{% url 'ContactosEliminar' contacto.nombre %}"> Eliminar </a>
        

    </button>

    {% endfor %}

    <br>
    <br>

    <button>

        <a href="{% url 'ContactosCrear' %}"> Crear Contacto</a>
        

    </button>

</body>
</html>